body {
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
}

.wijsheid {
    margin-left: 5%;
    margin-top: 2%;
}
.salieimg {
    margin-left: 80%;
    margin-top: -10%;
}
.saliespreuk {
    background-color: rebeccapurple;
}
.salieli {

}
.receptenheader {
    font-family: "Century Gothic";
    font-size:20px;
}
.munt {
    margin-left: 5%;
    margin-top: 5%;
}
.muntimg {
    margin-left: 80%;
    margin-top: -12%;
}
.muntspreuk {
    background-color: rebeccapurple;
}
.maanritueel {
    margin-left: 5%;
}
.maanimg {
    margin-left: 80%;
    margin-top: -10%;
}
.maanspreuk {
    background-color: rebeccapurple;
}
html {
    height: 100%;
    width: 100%;
    font-family: "Century Gothic", Georgia, serif;
}

.titelvak {

}

.titel {
    text-align: center;
    font-size: 40px;
}

.titellogo1{
    float: left;
    margin-top: -30px;
    width: 100px;
    height: 110px;

}

.titellogo2{
    float: right;
    margin-top: -120px;
    width: 80px;
    height: 105px;
}

nav{
    text-align: center;
    margin-top: 35px;
    background-color: green;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: green;
}

li{
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: forestgreen;
}
footer {
    text-align: center;
    background-color: green;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}